body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("jillymp.github.io/background copy.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
	font-family: "Helvetica";
	font-style: italic;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color:  #cccccc;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: right;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 600;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightblue;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: lightblue;
    color: white;
}
