body {
    background: url('./jillymp.github.io/background copy.jpg') no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}
h1{
	font-family: "Helvetica";
	font-style: italic;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color:  #cccccc;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: right;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 600;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightblue;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: lightblue;
    color: white;
}
